@model IEnumerable<StoreModel.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Order History</h1>

<p>Search by Customer</p>
<form class="form-inline float-left pr-4" asp-action="Search" method="post">
    <div class="form-row">
        <div class="col">
            <input type="text" placeholder="customer name" name="customerName" />
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>
<form class="form-inline float-left" asp-action="SearchByLocation" method="post">
    <div class="form-row">
        <div class="col">
            <input type="text" placeholder="Location Name" name="customerName" />
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Search By Location</button>
        </div>
    </div>
</form>
<br />
<hr />
<br />
<form class="form-inline float-left pr-4" asp-action="SortByCostHigh" method="post">
    <button type="submit" class="btn btn-primary">Sort Cost: Highest-Lowest</button>
</form>
<form class="form-inline float-left" asp-action="SortByCostLow" method="post">
    <button type="submit" class="btn btn-primary">Sort Cost: Lowest-Highest</button>
</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Order Date
            </th>
            <th>
                Customer Name
            </th>
            <th>
                Location Name
            </th>
            <th>
                Total Cost
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FName) @Html.DisplayFor(modelItem => item.Customer.LName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCost)
                </td>
                <td>
                    <form asp-action="Details" method="post">
                        <input type="hidden" name="id" value="@item.ID" />
                        <input type="submit" class="btn btn-primary" name="Details" value="Details" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
