@using System.Collections;

@model ICollection<StoreModel.CartProducts>

@{
    ViewData["Title"] = "Index";

}
@{

}

<h1>Cart</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Product Price
            </th>
            <th>
                Product Count
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            decimal orderTotal = 0;

            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductCount)
                    </td>
                </tr>
                orderTotal += (item.Product.ProductPrice * Convert.ToDecimal(item.ProductCount));
            }
            <tr>
                <td>
                    Order Total:
                </td>
                <td>
                    @orderTotal
                </td>
                <td>
                    <form asp-action="PlaceOrder" method="post">
                        <input type="hidden" name="cartID" value="@ViewBag.cartID" />

                        <input type="hidden" name="cost" value="@orderTotal" />
                        <input type="submit" class="btn btn-primary" name="PlaceOrder" value="Place Order" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

