@using System.Collections;

@model StoreModel.Customer

@{
    ViewData["Title"] = "Index";
}
@{
    List<StoreModel.CartProducts> products = Model.Carts.First().CartProducts.ToList();
}
<h1>Cart</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Product ID
            </th>
            <th>
                Product Count
            </th>
            <th>
                Product
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
