@model IEnumerable<StoreModel.LocationProduct>

@{
    ViewData["Title"] = "Index";
}

<h1>Products Available at Our @ViewBag.location Location!</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                Product Quantity In Stock
            </th>
            <th>
                Details
            </th>
            <th>Add to Cart &nbsp; &nbsp; &nbsp; &nbsp; Quantity to Add</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductQuantity)
                </td>
                <td>
                    <form asp-area="LocationProducts" asp-controller="LocationProducts" asp-action="Details" class="form-inline">
                        <input type="submit" class="btn btn-info" value="Details" />
                        <input type="hidden" value="@item.Product.ID" name="id" />
                        <input type="hidden" value="@ViewBag.customerID" name="customerID" />
                        <input type="hidden" value="@ViewBag.locationID" name="locationID" />
                    </form>

                </td>

                <td>
                    <form asp-area="LocationProducts" asp-controller="LocationProducts" asp-action="AddToCart" class="form-inline" method="post">
                        <div class="form-row">
                            <div class="col">
                                <input type="submit" class="btn btn-primary" value="Add to Cart">
                                <input type="hidden" value="@ViewBag.customerID" name="customerID" />
                                <input type="hidden" value="@item.Product.ID" name="productID" />
                                <input type="hidden" value="@ViewBag.locationID" name="locationID" />
                            </div>
                            <div class="col">
                                <input type="number" value="1" name="inputValue" />

                            </div>
                        </div>
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>
