@model IEnumerable<StoreModel.LocationProduct>

@{
    ViewData["Title"] = "Index";
}

<h1>Inventory Update Page</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Inventory ID
            </th>
            <th>
                Product Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                Inventory Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductQuantity)
            </th>
            <th>Update Quantity &nbsp; &nbsp; &nbsp; &nbsp; New Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductQuantity)
                </td>
                <td>
                    <form class="form-inline" asp-area="LocationProducts" asp-action="ManageInventory" method="post">
                        <div class="form-row">
                            <div class="col">
                                <input type="submit" class="btn btn-primary" value="Update Inventory">

                            </div>
                            <div class="col">
                                <input type="number" value="1" name="productQuantity" />
                                <input type="hidden" value="@item.ID" name="id" />

                            </div>
                        </div>
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>